
<% @cards.each do |card| %>
  <div class='card'>
    <ul class='card-attributes'>
      <li> <%= card.card_type %> </li>
      <li> <%= card.number %> </li>
      <li> Expires: <%= "#{card.expiration_month}/#{card.expiration_year}" %> </li>
    </ul>
  </div>
<% end %>
