<%= render 'shared/errors', model: @card %>

<div id='client-side-error'> </div>

<%= render 'card_form' %>

<div id='first' style='width:100px; height: 100px; background: red'>
  <div id='second' style='width:50px; height: 50px; background: blue'>
  </div>
</div>

<div id='green-square' style='width:100px; height: 100px; background: green'>
  <div id='green-square-timer' style='color:white; font-size:24px;'>0</div>
</div>
