// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.americanexpress {
  background: rgba(255, 0, 0, 0.3);
}

.visa {
  background: rgba(0, 255, 0, 0.3);
}

.mastercard {
  background: rgba(0, 0, 255, 0.3);
}
